---
import { type CollectionEntry } from 'astro:content';
import _ from 'lodash';
import Collection from '../Collection.astro';

interface Props {
  entry: CollectionEntry<'Pages'>;
}

const { entry } = Astro.props;
---

<Collection {entry}>
  <div slot="right">
    <span class="text-foreground font-medium">{entry.data.title}</span>
  </div>
</Collection>
