---
import Default from '../../layouts/Default.astro';
import { collections } from '../../content.config';
import { getCollection } from 'astro:content';
import { render } from 'astro:content';
import _ from 'lodash';
import type { CollectionEntry } from 'astro:content';
import type { CollectionKey } from 'astro:content';
import type { Metadata } from '../../types';

export async function getStaticPaths() {
  let paths = [];

  for (const key of Object.keys(collections)) {
    const collectionKey = key as CollectionKey;
    const collection = await getCollection(collectionKey);

    const map = collection
      .filter((entry) => collectionKey === 'Blog' || (entry.body && entry.body.trim().length > 300))
      .map((entry) => ({
        params: { collection: _.kebabCase(collectionKey), id: entry.id },
        props: { entry },
      }));

    paths.push(...map);
  }

  return paths;
}

interface Props {
  entry: CollectionEntry<CollectionKey>;
}

const { entry } = Astro.props;

const { Content } = await render(entry);
---

<Default metadata={entry.data as Metadata}>
  <main>
    {
      'title' in entry.data && (
        <header class="mb-4">
          <h1 class="text-foreground font-medium">{entry.data.title}</h1>
        </header>
      )
    }
    <div class="prose prose-sm prose-theme">
      <Content />
    </div>
  </main>
</Default>
