---
import Default from '../../layouts/Default.astro';
import { collections } from '../../content.config';
import { getCollection } from 'astro:content';
import type { DataEntryMap } from 'astro:content';
import { render } from 'astro:content';
import _ from 'lodash';

export async function getStaticPaths() {
  let paths = [];

  for (const key of Object.keys(collections)) {
    const collectionKey = key as keyof DataEntryMap;
    const collection = await getCollection(collectionKey);

    const map = collection.map((entry) => ({
      params: { collection: _.kebabCase(collectionKey), id: entry.id },
      props: { entry },
    }));

    paths.push(...map);
  }

  return paths;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Default>
  <header class="mb-8">
    <h1 class="text-foreground font-medium">{entry.data.title}</h1>
  </header>
  <main>
    <div class="prose prose-sm prose-theme">
      <Content />
    </div>
  </main>
</Default>
