---
import { parse } from 'marked';
import type profileData from '../assets/read.cv/profileData.json';
import type { Collection, CollectionItem } from '../assets/ts/types';

interface Props {
  data: Collection;
}

const { data } = Astro.props;
---

<section class="mx-auto max-w-xl px-4">
  <h2 class="text-foreground font-headings font-medium">{data.name}</h2>
  <div
    class:list={{
      'mt-4': true,
      'space-y-8': data.name !== 'Contact',
      'space-y-4': data.name === 'Contact',
    }}
  >
    {
      data.items.map((item: CollectionItem) => (
        <div class="grid sm:grid-cols-[6rem_1fr] sm:gap-8">
          <span class="tabular-nums">{item.year || item.platform}</span>
          <div>
            <h3 class="text-foreground">
              {item.url ? (
                <a
                  href={item.url}
                  target="_blank"
                >
                  {item.heading || item.handle}
                </a>
              ) : (
                item.heading
              )}
            </h3>
            {item?.location && <p>{item.location}</p>}
            {item?.description && (
              <div
                class="prose prose-sm prose-theme"
                set:html={parse(item.description || '')}
              />
            )}
          </div>
        </div>
      ))
    }
  </div>
</section>
