---
export interface Props {
  class?: string;
  href?: string;
  is?: 'button' | 'a';
  label?: string;
  variant?: 'bold' | 'subtle' | 'outline' | 'ghost';
  type?: 'button' | 'submit' | 'reset';
}

const props = Astro.props;
const isButton = props.is === 'button';

const variants = {
  bold: 'bg-theme-background text-theme-foreground print:!bg-border print:!text-foreground',
  subtle: 'border bg-background-subtle',
  outline: 'border',
  ghost: '',
};

const variant = variants[(props.variant as keyof typeof variants) || 'bold'];
const baseClasses = ['flex items-center gap-2 rounded-inner px-1 leading-6', variant, props.class];
---

{
  isButton ? (
    <button
      type={props.type || 'button'}
      class:list={baseClasses}
    >
      {props.label || <slot />}
    </button>
  ) : (
    <a
      href={props.href}
      class:list={baseClasses}
    >
      {props.label || <slot />}
    </a>
  )
}
