---
interface Props {
  class?: string;
  count?: string;
  open?: boolean;
  title: string;
}
const { class: className, title, open } = Astro.props;
---

<details
  class:list={['group rounded-outer mt-4 overflow-hidden border p-1', className]}
  {open}
>
  <summary
    class="group-open:bg-background-subtle text-foreground rounded-inner flex cursor-pointer gap-4 p-4 leading-4 select-none"
  >
    <span
      class="text-foreground font-headings grow truncate font-medium"
      {title}
    >
      {title}
    </span>
    <span
      class="text-center group-open:rotate-180"
      aria-hidden="true"
    >
      ▼
    </span>
  </summary>
  <div class="px-4">
    <slot />
  </div>
</details>
