---
interface Props {
  class?: string;
  subtitle?: string;
  title: string;
  url?: string;
}

const { class: className, subtitle, title, url } = Astro.props;
---

<div class:list={['relative break-inside-avoid', className]}>
  <article>
    <h3 class="not-prose text-foreground font-headings font-medium">
      {
        url ? (
          <a
            v-if="url"
            href={url}
            target="_blank"
          >
            {title}
          </a>
        ) : (
          title
        )
      }
    </h3>
    {subtitle && <span v-if="subtitle">{subtitle}</span>}
    {
      Astro.slots.has('default') && (
        <div class="prose prose-sm prose-theme mt-4 space-y-4 tabular-nums">
          <slot />
        </div>
      )
    }
  </article>
</div>
