---
interface Props {
  class?: string;
  subtitle?: string;
  meta: string[];
  title: string;
  url?: string;
}

const { class: className, meta, subtitle, title, url } = Astro.props;
---

<div class:list={['relative col-span-full grid break-inside-avoid grid-cols-subgrid items-start', className]}>
  <span class="bg-background sticky top-10 tabular-nums">{meta.join(' — ')}</span>
  <article>
    <h3 class="not-prose text-foreground font-headings font-medium">
      {
        url ? (
          <a
            v-if="url"
            href={url}
            target="_blank"
          >
            {title}
          </a>
        ) : (
          title
        )
      }
    </h3>
    {subtitle && <span>{subtitle}</span>}
    {
      Astro.slots.has('default') && (
        <div class="prose prose-sm prose-theme mt-4 space-y-4 tabular-nums">
          <slot />
        </div>
      )
    }
  </article>
</div>
