---
import Entry from './entry.astro';
import { getCollection } from 'astro:content';

export interface Props {
  filter?: string;
}

const { filter } = Astro.props;
let collection = await getCollection('pages', ({ id }) => {
  if (id.endsWith('index')) return false;

  return filter ? id.startsWith(filter) : true;
});

collection = collection.sort((a, b) => {
  const dateA = Array.isArray(a.data?.date) ? a.data.date[0] : a.data?.date;
  const dateB = Array.isArray(b.data?.date) ? b.data.date[0] : b.data?.date;

  if (!dateA && !dateB) return 0;
  if (!dateA) return 1;
  if (!dateB) return -1;

  return new Date(dateB).getTime() - new Date(dateA).getTime();
});

if (import.meta.env.PROD) {
  collection = collection.filter((entry) => !entry.data?.draft);
}

const formatDate = (date: Date | string) => {
  return new Date(date).toLocaleDateString('en', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  });
};
---

<div class="not-prose space-y-6">
  {
    collection.map((entry) => (
      <Entry
        content={{
          title: entry.data.title,
          subtitle: entry.data.description,
          meta: entry.data.date ? formatDate(entry.data.date) : undefined,
          href: `/${entry.id}`,
        }}
      />
    ))
  }
</div>
