---
interface Props {
  pages: Record<string, string>;
}

const { pages } = Astro.props;

const isCurrentPath = (path: string) => Astro.url.pathname === path;
---

<footer
  class="mt-auto grid border-t py-5 md:grid-cols-2 print:hidden"
  style="view-transition-name: footer"
>
  <nav class="md:col-start-2">
    <ul class="flex flex-wrap gap-5 leading-6">
      {
        Object.entries(pages).map(([title, href]) => (
          <li class="-my-0.5">
            <a
              class:list={{
                block: true,
                'text-foreground font-semibold': isCurrentPath(href),
              }}
              href={href}
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
