---
import { Image } from 'astro:assets';

interface Props {
  image?: string;
  title: string;
  subtitle?: string;
}

const { image, title, subtitle } = Astro.props;
---

<header
  class="relative mb-16 flex gap-4"
  style="view-transition-name: header"
>
  {
    image && (
      <Image
        class="size-12 object-cover"
        src={image}
        alt={title}
        width="48"
        height="48"
        format="avif"
        loading="eager"
      />
    )
  }
  <div class="grid items-center">
    <span class="text-foreground font-headings font-medium">{title}</span>
    {subtitle && <span>{subtitle}</span>}
  </div>
  <a
    class="absolute inset-0 rounded"
    href="/"
    title="Return to homepage"
    aria-label="Return to homepage"
  ></a>
</header>
