---
export interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<header
  class="grid gap-6 py-6 md:grid-cols-2"
  style="view-transition-name: header"
>
  <a
    class="mr-auto inline-grid"
    href="https://jairusjoer.com"
    title="Back to index"
  >
    <span class="text-foreground font-headings font-semibold">{title}</span>
    {subtitle && <span class="text-foreground-subtle">{subtitle}</span>}
  </a>

  <slot />
</header>
