---
import type { CollectionEntry } from 'astro:content';

export interface Props {
  data: CollectionEntry<'links'>[];
}

const { data } = Astro.props as Props;

const shortenLink = (link: string) => {
  return link.replace(/^https?:\/\/(www\.)?/, '').replace(/\/$/, '');
};
---

<>
  {
    data.map((item) => (
      <details>
        <summary>{item.id}</summary>

        <ul>
          {item.data.map((link) => (
            <li>
              <a
                class="line-clamp-1"
                href={link}
                title={shortenLink(link)}
              >
                {shortenLink(link)}
              </a>
            </li>
          ))}
        </ul>
      </details>
    ))
  }
</>
