---
export interface Props {
  pages: Record<string, string>;
}

const { pages } = Astro.props;

const isCurrentPath = (path: string) => Astro.url.pathname === path;
---

<nav
  class="mt-auto print:hidden"
  style="view-transition-name: navigation"
>
  <ul class="flex flex-wrap gap-5 leading-6">
    {
      Object.entries(pages).map(([title, href]) => (
        <li class="-my-0.5">
          <a
            class:list={{
              block: true,
              'text-foreground font-semibold': isCurrentPath(href),
            }}
            href={href}
          >
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
