---
import { Mode } from '../react/mode';
import { Theme } from '../react/theme';

// Navigation.astro
interface Props {
  pages: Record<string, string>;
}

const { pages } = Astro.props;

const isCurrentPath = (path: string) => Astro.url.pathname === path;
---

<nav
  class="mb-4 flex gap-1 print:hidden"
  style="view-transition-name: nav"
>
  <ul class="mr-auto flex flex-wrap gap-1 font-medium">
    {
      Object.entries(pages).map(([title, href]) => (
        <li>
          <a
            class:list={{
              'bg-background-subtle rounded-inner block px-2': true,
              'text-theme-foreground bg-theme-background': isCurrentPath(href),
            }}
            href={href}
          >
            {title}
          </a>
        </li>
      ))
    }
  </ul>
  <Theme client:only="react" />
  <Mode client:only="react" />
</nav>
