---
interface Props {
  class?: string;
  title: string;
}
const { class: className, title } = Astro.props;
---

<section
  class:list={[
    'grid break-inside-avoid items-start gap-8 md:grid-cols-[minmax(auto,192px)_minmax(auto,576px)]',
    className,
  ]}
>
  {title && (
    <h2 class="bg-background text-foreground not-prose font-headings sticky top-0 z-10 -mt-4 pt-4 font-medium">
      {title}
    </h2>
    <hr class="not-prose self-center border-dotted" />
  )}

  <slot />
</section>
