---
interface Props {
  class?: string;
  title: string;
}
const { class: className, title } = Astro.props;
---

<section class:list={['break-inside-avoid', className]}>
  <header class="not-prose mb-4 flex items-center gap-2 border-b border-dotted pb-4">
    <h2 class:list={['text-foreground not-prose font-headings font-medium']}>
      {title}
    </h2>
  </header>
  <div class="space-y-8">
    <slot />
  </div>
</section>
