---
interface Props {
  class?: string;
  title?: string;
}
const { class: className, title } = Astro.props;
---

<section
  class:list={[
    'grid break-inside-avoid items-start space-y-8 gap-x-8 md:grid-cols-[minmax(auto,192px)_minmax(auto,576px)]',
    className,
  ]}
>
  {
    title && (
      <>
        <h2 class="bg-background print:bg-transparent text-foreground not-prose font-headings top-0 z-10 -mt-4 mb-4 pt-4 font-medium md:sticky print:mt-0 print:p-0">
          {title}
        </h2>
        <hr class="not-prose mb-4 self-center border-dotted" />
      </>
    )
  }

  <slot />
</section>
