---
interface Props {
  class?: string;
  title: string;
}
const { class: className, title } = Astro.props;
---

<section class="break-inside-avoid space-y-8">
  <h2 class:list={['text-foreground not-prose font-headings mb-4 font-medium', className]}>
    {title}
  </h2>
  <slot />
</section>
