@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font: inherit;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  text-wrap: pretty;
}

ul,
ol {
  list-style: none;
  padding-left: unset;
}

#root {
  isolation: isolate;
}
