*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: unset;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  padding: 0 0.5em;
  border-radius: var(--radius-default);
  border: unset;
  font: inherit;
}

canvas,
img,
picture,
svg,
video {
  break-before: avoid-page;
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  text-wrap: pretty;
}

input {
  border: 0.5px solid var(--color-border);
}

ul,
ol {
  list-style: none;
  padding-left: unset;
}
