@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@import './tailwind/themes.css';
@import './tailwind/base.css';
@import './tailwind/utilities.css';
@import './tailwind/transitions.css';

@import './fonts.css';
