@layer transitions {
  ::view-transition {
    pointer-events: none;
  }

  :root {
    --transition-duration: 150ms;
  }

  @media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }

    :root {
      --transition-duration: 0ms !important;
    }
  }

  ::view-transition-old(root) {
    animation: fade var(--transition-duration) ease-in-out both;
  }

  ::view-transition-new(root) {
    animation: fade var(--transition-duration) ease-in-out both reverse var(--transition-duration);
  }

  @keyframes fade {
    from {
      opacity: 1;
      filter: blur(0rem);
    }
    to {
      opacity: 0;
      filter: blur(0.0625rem);
    }
  }

  /* Footer */

  footer {
    view-transition-name: footer;
  }
}
