@layer transitions {
  ::view-transition {
    pointer-events: none;
  }

  :root {
    --transition-duration: 300ms;
    --transition-blur: 0.125rem;
  }

  @media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }

    :root {
      --animate-duration: 0ms !important;
    }
  }

  /* Title */

  h1 {
    view-transition-name: title;
  }

  ::view-transition-old(title) {
    animation: var(--transition-duration) ease-in-out both fade-up;
  }

  ::view-transition-new(title) {
    --fade-up-translate: 1em;
    animation: var(--transition-duration) ease-in-out both fade-up reverse;
  }

  @keyframes fade-up {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(var(--fade-up-translate, -1em));
      filter: blur(var(--transition-blur));
    }
  }

  /* Main */

  main {
    view-transition-name: main;
  }

  ::view-transition-old(main) {
    animation: var(--transition-duration) ease-in-out both blur;
  }

  ::view-transition-new(main) {
    animation: var(--transition-duration) ease-in-out both blur reverse;
  }

  @keyframes blur {
    from {
      opacity: 1;
      filter: blur(0);
    }
    to {
      opacity: 0;
      filter: blur(calc(var(--transition-blur) * 4));
    }
  }
}
