@layer transitions {
  ::view-transition {
    pointer-events: none;
  }

  :root {
    --transition-duration: 150ms;

    view-transition-name: none;
  }

  @media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }

    :root {
      --transition-duration: 0ms !important;
    }
  }

  main {
    view-transition-name: main;
  }

  ::view-transition-old(main) {
    animation: fade var(--transition-duration) ease-in-out both;
  }

  ::view-transition-new(main) {
    --transition-y: 0.5rem;
    animation: fade var(--transition-duration) ease-in-out both reverse var(--transition-duration);
  }

  @keyframes fade {
    from {
      opacity: 1;
      filter: blur(0rem);
    }
    to {
      opacity: 0;
      filter: blur(0.125rem);
      transform: translateY(var(--transition-y, -0.5rem));
    }
  }

  /* Navigation */

  nav {
    view-transition-name: nav;
  }

  /* Footer */

  footer {
    view-transition-name: footer;
  }
}
