@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

:root {
  --transition-duration: 150ms;
  --transition-scale: 0.975;

  @media (prefers-reduced-motion: reduce) {
    --transition-duration: 0ms;
    --transition-scale: 1;
  }
}

.transition-press {
  transition: scale var(--transition-duration) ease-out;
}

.transition-press:active {
  scale: var(--transition-scale);
}

.transition-gentle {
  transition-duration: var(--transition-duration);
  transition-property: opacity, color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: ease;
}
