---
import { type CollectionEntry } from 'astro:content';
import _ from 'lodash';
import Link from '../Link.astro';

interface Props {
  entry: CollectionEntry<'Contact'>;
}

const { entry } = Astro.props;
---

<article class="relative grid justify-items-start nth-[n+2]:-mt-4 sm:grid-cols-[6rem_1fr] md:gap-8">
  <span>{entry.data.title}</span>

  <Link {entry} field="username" />
</article>
