---
import { Image } from "@astrojs/image/components";
---

<nav class="bg-gradient-to-b from-black to-transparent sticky top-0 py-3">
  {/* Avatar */}
  <div>
    <Image
      class="w-9 h-9 rounded-xl object-cover"
      src="/images/portrait.png"
      alt="Portrait of Jairus Joer"
      format="webp"
      width={108}
      height={108}
    />
    <p>
      <span></span>
      <span></span>
    </p>
  </div>
</nav>
