---
import { getCollection, render } from 'astro:content';
import { getComponents } from '@scripts/getComponents';
import PageLayout from '@layouts/PageLayout.astro';
import { formatDatetime } from '@scripts/formatDatetime';
import { Image } from 'astro:assets';
import PageStatus from '@components/PageStatus.astro';
import PageHeader from '@components/PageHeader.astro';

export async function getStaticPaths() {
  const staticPaths = [];

  let collection = await getCollection('pages');

  if (import.meta.env.PROD) {
    collection = collection.filter((entry) => entry.data?.status !== 'Draft');
  }

  for (const entry of collection) {
    staticPaths.push({
      params: { page: entry.id === 'index' ? undefined : entry.id },
      props: { entry },
    });
  }

  return staticPaths;
}

const { entry } = Astro.props;

const { Content } = await render(entry);

const components = getComponents();
---

<PageLayout metadata={entry.data}>
  <main class="text-default my-[6em] w-full">
    <PageHeader {entry} />

    <section
      class="prosa"
      style="view-transition-name: page-content;"
    >
      <Content {components} />
    </section>
  </main>
</PageLayout>

<script>
  import { toggleDetails } from '@scripts/toggleDetails';
  import { externalizeLinks } from '@scripts/externalizeLinks';

  toggleDetails();
  externalizeLinks();
</script>
