---
import Default from '../layouts/default.astro';
import { getCollection } from 'astro:content';
import { render } from 'astro:content';
import type { Metadata } from '../types';
import { useComponents } from '../composables';
import { getEntry } from 'astro:content';
import { collections } from 'src/content.config';
import type { CollectionKey } from 'astro:content';

export async function getStaticPaths() {
  return (
    await Promise.all(
      Object.keys(collections).map(async (collectionKey) => {
        let collection = await getCollection(collectionKey as CollectionKey);

        if (import.meta.env.PROD) {
          collection = collection.filter((entry) => !entry.data?.draft);
        }

        return collection.map((entry) => ({
          params: { page: entry.id },
          props: { collection: collectionKey, id: entry.id },
        }));
      }),
    )
  ).flat();
}

const { collection, id } = Astro.props;

const entry = await getEntry(collection as CollectionKey, id)!;
const { Content } = await render(entry);

const components = useComponents();
---

<Default metadata={entry.data as Metadata}>
  <main style="view-transition-name: main">
    <article class="prose prose-theme !max-w-none">
      <Content {components} />
    </article>
  </main>
</Default>
