---
import { getCollection } from 'astro:content';
import Default from '../layouts/Default.astro';
import Artifact from '../components/Artifact.astro';
import type { Metadata } from '../types';

let blog = await getCollection('blog');
blog = blog.filter((entry) => !entry.data?.draft);
blog = blog.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const metadata: Metadata = {
  title: 'Blog',
};
---

<Default {metadata}>
  <main class="space-y-4">
    {blog.map((entry) => <Artifact {entry} />)}
  </main>
</Default>
