---
import { getCollection } from 'astro:content';
import Default from '../layouts/Default.astro';
import type { Metadata } from '../types';
import Artifact from '../components/mdx/Artifact.vue';

const metadata: Metadata = {
  title: 'Blog',
  description: 'A personal collection of articles, thoughts, and ideas.',
};

const blog = (await getCollection('blog')).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Default {metadata}>
  <main
    class="space-y-4"
    style="view-transition-name: main"
  >
    <a
      class="text-foreground block font-medium"
      href="https://aggregata.de"
      target="_blank"
    >
      Read my most recent articles on Aggregata &nearr;
    </a>
    {
      blog.map((entry) => (
        <Artifact
          collection="blog"
          id={entry.id}
        />
      ))
    }
  </main>
</Default>
