---
import { getCollection } from 'astro:content';
import Default from '../layouts/Default.astro';
import Entry from '../components/Entry.astro';
import type { Metadata } from '../types';

const blog = await getCollection('Blog');

const metadata: Metadata = {
  title: 'Blog',
};
---

<Default {metadata}>
  <main class="space-y-4">
    {blog.map((entry) => <Entry {entry} />)}
  </main>
</Default>
