---
import { getCollection } from 'astro:content';
import Default from '../layouts/Default.astro';
import Entry from '../components/Entry.astro';

const blog = await getCollection('Blog');
---

<Default>
  <main class="space-y-4">
    {blog.map((entry) => <Entry {entry} />)}
  </main>
</Default>
