---
import { getCollection } from 'astro:content';
import Default from '../layouts/Default.astro';
import Artifact from '../components/Artifact.astro';
import type { Metadata } from '../types';

const blog = await getCollection('blog');

const metadata: Metadata = {
  title: 'Blog',
};
---

<Default {metadata}>
  <main class="space-y-4">
    {blog.map((entry) => <Artifact {entry} />)}
  </main>
</Default>
