---
import Default from '../layouts/Default.astro';
import Demo from '../components/Demo.vue';
import type { Metadata } from '../types';
import HighlightMath from '../components/experiments/HighlightMath.vue';

const metadata: Metadata = {
  title: 'Experiments',
  description: 'A showcase of interactive web experiments and technical concepts.',
};
---

<Default {metadata}>
  <main
    class="grid gap-4"
    transition:name="main"
  >
    <Demo
      title="Highlight Math"
      meta="July 2024"
      file="HighlightMath"
      client:visible
    >
      <HighlightMath equation="24 Stock + 16 Ordered - 12 Booked = 28 Total" />
    </Demo>
  </main>
</Default>
