---
import { render } from 'astro:content';
import Default from '../layouts/Default.astro';
import { getEntry } from 'astro:content';
import { useMDXComponents } from '../composables/useMDXComponents';

const entry = await getEntry('pages', 'index');
const { Content } = await render(entry!);

const components = useMDXComponents();
---

<Default>
  <main
    class="prose prose-sm prose-theme"
    style="view-transition-name: main"
  >
    <Content {components} />
  </main>
</Default>
