---
import Default from '../layouts/Default.astro';
import General from '../components/General.astro';
import { useReader } from '../composables/useReader';
import Section from '../components/Section.astro';

const reader = useReader();
const settings = (await reader.singletons.General.read())!;
---

<Default>
  <header class="mb-16">
    <General />
  </header>
  <main class="space-y-16">
    {settings.order.map((content) => <Section {content} />)}
  </main>
</Default>
