---
import Default from '../layouts/Default.astro';
import { useReader } from '../composables/useReader';
import { parse } from 'marked';
import Section from '../components/Section.astro';

const reader = useReader();
const site = (await reader.singletons.site.read({ resolveLinkedFiles: true }))!;
---

<Default>
  <main class="grow space-y-16">
    <section
      class="prose prose-sm prose-theme"
      set:html={parse(site.general.about)}
    />
    {site?.sections?.map((section) => <Section {section} />)}
  </main>
</Default>
