---
import Collection from '../components/Collection.astro';
import Default from '../layouts/Default.astro';

import { getCollection, render } from 'astro:content';

const site = (await getCollection('site'))[0];
const { Content } = await render(site);
---

<Default>
  <main class="grow space-y-16">
    {
      Content && (
        <section class="prose prose-sm prose-theme">
          <Content />
        </section>
      )
    }
    {Object.entries(site.data.collections).map((collection) => <Collection {collection} />)}
  </main>
</Default>
