@layer base {
  @view-transition {
    navigation: auto;
  }

  ::view-transition {
    pointer-events: none;
  }

  :root {
    color-scheme: light dark;
  }

  * {
    border-color: var(--color-border);
  }

  details {
    summary {
      user-select: none;
    }
  }

  img,
  pre {
    border-radius: 0.25rem;
  }

  html {
    scrollbar-gutter: stable;
    text-wrap: pretty;
  }

  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}
