@layer base {
  @view-transition {
    navigation: auto;
  }

  ::view-transition {
    pointer-events: none;
  }

  :root {
    color-scheme: light dark;
  }

  * {
    border-color: var(--color-border);
  }

  details {
    summary {
      user-select: none;
    }
  }

  img,
  pre {
    border-radius: 0.25rem;
  }

  html {
    scrollbar-gutter: stable;
    text-wrap: pretty;
  }
}
