@layer base {
  @view-transition {
    navigation: auto;
  }

  ::view-transition {
    pointer-events: none;
  }

  :root {
    color-scheme: light dark;
    view-transition-name: none;
  }

  * {
    border-color: var(--color-border);
  }

  a[href^='http']:not(.absolute)::after {
    content: ' ↗';
  }

  code,
  pre {
    font-size: 0.75rem !important;
  }

  img,
  pre {
    border-radius: 0.25rem;
  }

  html {
    scrollbar-gutter: stable;
    text-wrap: pretty;
  }

  pre {
    max-width: calc(100dvw - 2rem);
  }
}
