@theme static {
  --color-accent: light-dark(#8839ef, #cba6f7);

  --color-background-subtle: light-dark(#e6e9ef, #313244);
  --color-background: light-dark(#eff1f5, #1e1e2e);

  --color-border: light-dark(#bcc0cc, #45475a);

  --color-foreground-subtle: light-dark(#6c6f85, #a6adc8);
  --color-foreground: light-dark(#4c4f69, #cdd6f4);

  --font-default: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;

  --radius-default: 0.25rem;

  --spacing-default: 60ch;

  --text-default: 1rem;
}
