@theme {
  --color-background: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --color-background-subtle: light-dark(var(--color-neutral-200), var(--color-neutral-800));

  --color-foreground: light-dark(var(--color-neutral-900), var(--color-neutral-100));
  --color-foreground-subtle: light-dark(var(--color-neutral-600), var(--color-neutral-400));

  --color-theme-background: var(--color-border);
  --color-theme-foreground: var(--color-foreground);

  --color-border: light-dark(var(--color-neutral-300), var(--color-neutral-700));

  --font-headings: system-ui, ui-sans-serif, sans-serif;
  --font-body: system-ui, ui-sans-serif, sans-serif;

  --radius-inner: 0.25rem;
  --radius-outer: 0.5rem;

  /* Defaults */
  --breakpoint-md: 52rem;

  --color-danger-background: light-dark(var(--color-red-200), var(--color-red-950));
  --color-danger-foreground: light-dark(var(--color-red-950), var(--color-red-200));
}

.theme-lara {
  --color-theme-background: color-mix(in lch, var(--color-red-500) 75%, var(--color-orange-500));
  --color-theme-foreground: color-mix(in lch, var(--color-theme-background), black 87.5%);

  --font-headings: 'Instrument Sans', system-ui, ui-sans-serif, sans-serif;
  --font-body: 'Instrument Sans', system-ui, ui-sans-serif, sans-serif;

  --radius-inner: 0rem;
  --radius-outer: 0rem;
}

.theme-mono {
  --color-background: light-dark(var(--color-zinc-50), var(--color-zinc-950));
  --color-background-subtle: light-dark(var(--color-zinc-100), var(--color-zinc-900));

  --color-foreground: light-dark(var(--color-zinc-900), var(--color-zinc-100));
  --color-foreground-subtle: light-dark(var(--color-zinc-600), var(--color-zinc-400));

  --color-theme-background: var(--color-foreground);
  --color-theme-foreground: var(--color-background);

  --color-border: light-dark(var(--color-zinc-200), var(--color-zinc-800));

  --font-headings: 'Departure Mono', monospace;
  --font-body: 'Departure Mono', monospace;

  --radius-inner: 0rem;
  --radius-outer: 0rem;
}
