@theme {
  --color-background: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --color-background-subtle: light-dark(var(--color-neutral-200), var(--color-neutral-800));

  --color-foreground: light-dark(var(--color-neutral-900), var(--color-neutral-100));
  --color-foreground-subtle: light-dark(var(--color-neutral-600), var(--color-neutral-400));

  --color-theme-background: var(--color-border);
  --color-theme-foreground: var(--color-foreground);

  --color-border: light-dark(var(--color-neutral-300), var(--color-neutral-700));

  --font-headings: system-ui, ui-sans-serif, sans-serif;
  --font-body: system-ui, ui-sans-serif, sans-serif;
}

.theme-lara {
  --color-background: light-dark(var(--color-stone-50), var(--color-stone-950));
  --color-background-subtle: light-dark(var(--color-stone-100), var(--color-stone-900));

  --color-foreground: light-dark(var(--color-stone-900), var(--color-stone-100));
  --color-foreground-subtle: light-dark(var(--color-stone-600), var(--color-stone-400));

  --color-theme-background: color-mix(in lch, var(--color-theme-foreground), transparent 90%);
  --color-theme-foreground: color-mix(in lch, var(--color-red-600), var(--color-orange-600));

  --color-border: light-dark(var(--color-stone-200), var(--color-stone-800));

  /* --font-headings: 'Instrument Sans', system-ui, ui-sans-serif, sans-serif;
  --font-body: 'Instrument Sans', system-ui, ui-sans-serif, sans-serif; */
}
