@theme static {
  --color-accent-contrast: light-dark(#eff1f5, #11111b); /* latte base / mocha crust */
  --color-accent: light-dark(#8839ef, #cba6f7); /* latte mauve / mocha mauve */

  --color-background-subtle: light-dark(#e6e9ef, #181825); /* latte mantle / mocha mantle */
  --color-background: light-dark(#eff1f5, #1e1e2e); /* latte base / mocha base */

  --color-border: light-dark(#ccd0da, #585b70); /* latte surface0 / mocha surface2 */

  --color-foreground-subtle: light-dark(#5c5f77, #a6adc8); /* latte subtext1 / mocha subtext0 */
  --color-foreground: light-dark(#4c4f69, #cdd6f4); /* latte text / mocha text */

  --font-default: 'Geist', system-ui, sans-serif;
  --font-mono: 'Geist Mono', ui-monospace, monospace;

  --spacing-default: 40rem;

  --text-default: 1rem;
}

:root {
  font-feature-settings: 'ss01', 'ss03', 'tnum';
}
