@theme {
  --color-background: light-dark(var(--color-neutral-100), var(--color-neutral-950));
  --color-background-subtle: light-dark(var(--color-neutral-200), var(--color-neutral-900));

  --color-foreground: light-dark(var(--color-neutral-900), var(--color-neutral-50));
  --color-foreground-subtler: light-dark(var(--color-neutral-700), var(--color-neutral-300));
  --color-foreground-subtle: light-dark(var(--color-neutral-600), var(--color-neutral-400));

  --color-theme-background: var(--color-border);
  --color-theme-foreground: var(--color-foreground);

  --color-border: light-dark(var(--color-neutral-300), var(--color-neutral-800));

  --font-headings: system-ui, ui-sans-serif, sans-serif;
  --font-body: system-ui, ui-sans-serif, sans-serif;
}
