---
import type { CollectionEntry, CollectionKey } from 'astro:content';
import _ from 'lodash';
import { parse } from 'marked';

interface Props {
  entry: CollectionEntry<CollectionKey>;
}
const { entry } = Astro.props;
---

{
  entry?.body && (
    <a
      class="group mt-4 flex items-center justify-between rounded-lg border"
      href={`/${_.kebabCase(entry.collection)}/${entry.id}`}
      title={entry.data.title}
    >
      <p class="text-foreground p-4 font-medium">{entry.data.title}</p>
      <div class="mt-4 mr-4 -mb-px">
        <div
          class="bg-background h-16 max-w-32 space-y-4 overflow-hidden rounded-t border p-3 font-mono text-[0.375rem]"
          set:html={_.truncate(await parse(entry.body), { length: 300 })}
        />
      </div>
    </a>
  )
}
