---
import type { CollectionEntry, CollectionKey } from 'astro:content';
import _ from 'lodash';
import { parse } from 'marked';

interface Props {
  entry: CollectionEntry<CollectionKey>;
}
const { entry } = Astro.props;
---

{
  entry?.body && (
    <div class="relative mt-4">
      {entry.body.length > 300 ? (
        <>
          <a
            class="absolute inset-0 rounded-lg border-none"
            href={`/${_.kebabCase(entry.collection)}/${entry.id}`}
            title={entry.data.title}
          />
          <div class="flex items-center justify-between rounded-lg border select-none">
            <p class="text-foreground p-4 font-medium">{entry.data.title}</p>
            <div
              class="bg-background mt-4 mr-4 -mb-px h-16 max-w-48 space-y-2 overflow-hidden rounded-t border p-2 font-mono text-[0.5rem]"
              set:html={_.truncate(await parse(entry.body), { length: 300 })}
            />
          </div>
        </>
      ) : (
        <div set:html={await parse(entry.body)} />
      )}
    </div>
  )
}
