---
import Badge from './Badge.astro';

export interface Props {
  items?: Array<string>;
}

const { items } = Astro.props;
---

{
  items?.length && (
    <ul class="not-prose flex flex-wrap items-center gap-1.5">
      {items.map((item) => (
        <li>
          <small>
            <Badge>{item}</Badge>
          </small>
        </li>
      ))}
    </ul>
  )
}
