---
import type { CollectionEntry } from 'astro:content';
import Entry from './Entry.astro';

interface Props {
  collection: [
    keyof CollectionEntry<'site'>['data']['collections'],
    CollectionEntry<'site'>['data']['collections'][string],
  ];
}
const { collection } = Astro.props;
const [title, entries] = collection;
---

<section>
  <h2 class="text-foreground mb-4 font-medium">{title}</h2>
  <ul class="space-y-8">
    {
      entries.map((entry) => (
        <li>
          <Entry {entry} />
        </li>
      ))
    }
  </ul>
</section>
