---
import type { CollectionEntry, CollectionKey } from 'astro:content';
import Artifact from './Artifact.astro';

interface Props {
  entry: CollectionEntry<CollectionKey>;
}

const { entry } = Astro.props;
---

<article class="relative grid sm:grid-cols-[6rem_1fr] sm:gap-8">
  <div class="tabular-nums">
    <slot name="left" />
  </div>

  <div class="relative">
    <slot name="right" />
    <Artifact {entry} />
  </div>
</article>
