---
export interface Props {
  links: {
    href: string;
    title: string;
  }[];
}

const { links } = Astro.props;
---

{
  links.length > 0 && (
    <div class="not-prosa flex gap-1">
      <span>Available on</span>
      <ul class="flex flex-wrap gap-1">
        {links.map((link, index) => (
          <li>
            <a
              class="text-accent"
              href={link.href}
              target="_blank"
              rel="noopener noreferrer"
            >
              {link.title}
            </a>
            {index < links.length - 1 && ','}
          </li>
        ))}
      </ul>
    </div>
  )
}
