---
import type { CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<'site'>['data']['collections'][string][number];
}

const { entry } = Astro.props;
---

<div class="relative grid sm:grid-cols-[6rem_1fr] sm:gap-8">
  <span>{entry.meta}</span>
  <article>
    <h3 class="text-foreground font-medium">
      {
        entry?.url ? (
          <a
            href={entry.url}
            target="_blank"
          >
            {entry.title}
          </a>
        ) : (
          entry.title
        )
      }
    </h3>
    {entry?.description && <p>{entry.description}</p>}
  </article>
</div>
