---
import { parse } from 'marked';
import type keystaticConfig from '../../keystatic.config';
import type { EntryWithResolvedLinkedFiles } from '@keystatic/core/reader';
import Artifact from './Artifact.astro';
import { getEntry } from 'astro:content';

interface Props {
  entry: EntryWithResolvedLinkedFiles<
    (typeof keystaticConfig)['singletons']['site']
  >['sections'][number]['entries'][number];
}

const { entry } = Astro.props;
---

<article class="relative grid sm:grid-cols-[6rem_1fr] sm:gap-8">
  <span>{entry.time}</span>
  <div>
    <h3 class="text-foreground font-medium">{entry.title}</h3>
    <p>{entry.description}</p>
    {
      entry.content && (
        <div
          class="prose prose-sm prose-theme mt-4"
          set:html={parse(entry.content)}
        />
      )
    }
    {
      entry?.page && (
        <div class="mt-4">
          <Artifact entry={(await getEntry('pages', entry.page))!} />
        </div>
      )
    }
  </div>
</article>
