---
import type { CollectionEntry } from 'astro:content';

interface Props {
  site: CollectionEntry<'site'>['data'];
}

const { site } = Astro.props;

const isCurrentPath = (path: string) => Astro.url.pathname === path;
---

{
  site.footer && (
    <footer class="mt-auto font-medium">
      <ul class="mt-16 flex flex-wrap gap-2">
        {Object.entries(site.footer).map(([title, href]) => (
          <li>
            <a
              class:list={{ block: true, 'text-foreground': isCurrentPath(href) }}
              {href}
            >
              {title}
            </a>
          </li>
        ))}
      </ul>
    </footer>
  )
}
