---
import { Image } from 'astro:assets';
import { useReader } from '../composables/useReader';
import type { ImageMetadata } from 'astro';

const reader = useReader();
const general = await reader.singletons.General.read({ resolveLinkedFiles: true });

let portrait: ImageMetadata | undefined;
if (general?.portrait) {
  const { default: image } = await import(/* @vite-ignore */ general.portrait);
  portrait = image;
}

const summary = [general?.profession, general?.location, general?.pronouns]
  .filter((item) => item?.length! > 0)
  .join(', ');
---

<header
  class="mb-8 flex gap-4"
  transition:persist
>
  {
    portrait && (
      <Image
        class="size-12 rounded-lg object-cover"
        src={portrait}
        alt={general?.name!}
        width={96}
        height={96}
        loading="eager"
      />
    )
  }
  <div class="grid">
    <span class="text-foreground font-medium">{general?.name}</span>
    <span>{summary}</span>
  </div>
</header>
