---
import { getCollection } from 'astro:content';
import { SITE_TITLE } from '../consts';

const collection = await getCollection('Pages');
---

<header class="mb-8" transition:persist>
  <nav class="flex flex-wrap gap-2 font-medium text-foreground">
    <a href="/">{SITE_TITLE}</a>
    {
      collection.map((entry) => (
        <a href={`/pages/${entry.id}`}>{entry.data.title}</a>
      ))
    }
  </nav>
</header>
