---
import type { CollectionEntry, CollectionKey } from 'astro:content';

interface Props {
  entry: CollectionEntry<CollectionKey>;
  field: string;
  separator?: string;
}

const { entry, field, separator } = Astro.props;
const fieldValue = entry.data[field as keyof typeof entry.data];
---

{
  field in entry.data && (
    <>
      {separator && (
        <>
          <span>{separator}</span>{' '}
        </>
      )}
      {'url' in entry.data ? (
        <a
          class="text-foreground inline-block font-medium"
          href={entry.data.url}
          target="_blank"
        >
          {fieldValue}
        </a>
      ) : (
        <span>{fieldValue}</span>
      )}
    </>
  )
}
