---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

interface Props {
  site: CollectionEntry<'site'>['data'];
}

const { site } = Astro.props;
const blog = await getCollection('blog');

const isCurrentPath = (path: string) => Astro.url.pathname === path;

const defaultLinks = {
  About: '/',
};

if (blog.length > 0) {
  Object.assign(defaultLinks, {
    Blog: `/blog`,
  });
}

const links = { ...defaultLinks, ...site.general?.links };
---

<nav class="py-4 font-medium">
  <ul class="flex flex-wrap gap-2">
    {
      Object.entries(links).map(([title, href]) => (
        <li>
          <a
            class:list={{ block: true, 'text-foreground': isCurrentPath(href) }}
            {href}
          >
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
