---
import type { EntryWithResolvedLinkedFiles } from '@keystatic/core/reader';
import { getCollection } from 'astro:content';
import type keystaticConfig from '../../keystatic.config';

interface Props {
  site: EntryWithResolvedLinkedFiles<(typeof keystaticConfig)['singletons']['Site']>;
}

const { site } = Astro.props;
const blog = await getCollection('Blog');

const isCurrentPath = (path: string) => Astro.url.pathname === path;

const items = [
  {
    title: 'About',
    href: '/',
    draft: false,
  },
  {
    title: 'Blog',
    href: '/blog',
    draft: blog.filter((entry) => !entry.data?.draft).length === 0,
  },
  ...(site?.general.navigation.map((item) => ({
    ...item,
    draft: false,
  })) || []),
].filter((item) => !item?.draft);
---

<nav class="mb-4 font-medium">
  <ul class="flex flex-wrap gap-2">
    {
      items.map((item) => (
        <li>
          <a
            class:list={{ block: true, 'text-foreground': isCurrentPath(item.href!) }}
            href={item.href}
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
