---
import { getCollection } from 'astro:content';

const pages = await getCollection('Pages');
const blog = await getCollection('Blog');

const href = (href: string) => {
  return {
    class: Astro.url.pathname === href ? 'text-foreground' : '',
    href,
  };
};
---

<nav class="mb-4 flex flex-wrap gap-2 font-medium">
  <a {...href('/')}>About</a>
  {blog.length > 0 && <a {...href('/blog')}>Blog</a>}
  {pages.map((entry) => <a {...href(`/pages/${entry.id}`)}>{entry.data.title}</a>)}
</nav>
