---

---

<span class="pagefind">
  <button
    class="pagefind-button transition-press"
    popovertarget="pagefind-popover"
    title="Search (Cmd/Ctrl + K)"
  >
    Search
  </button>

  <div
    id="pagefind-popover"
    popover
  >
    <div id="pagefind-search"></div>
  </div>
</span>

<script is:inline>
  const pagefindPopover = document.getElementById('pagefind-popover');
  let pagefindLoaded = false;

  function loadPagefind() {
    if (pagefindLoaded) return Promise.resolve();
    pagefindLoaded = true;

    return new Promise((resolve, reject) => {
      const script = document.createElement('script');
      script.src = '/pagefind/pagefind-ui.js';
      script.onload = resolve;
      script.onerror = reject;

      document.head.appendChild(script);
    });
  }

  pagefindPopover.addEventListener('toggle', async (event) => {
    if (event.newState === 'open') {
      await loadPagefind();

      if (!document.querySelector('.pagefind-ui')) {
        new PagefindUI({ element: '#pagefind-search', showSubResults: true, autofocus: true });
      }
    }
  });

  document.addEventListener('keydown', (event) => {
    if ((event.metaKey || event.ctrlKey) && event.key === 'k') {
      event.preventDefault();

      if (pagefindPopover.matches(':popover-open')) {
        pagefindPopover.hidePopover();
      } else {
        pagefindPopover.showPopover();
      }
    }
  });
</script>

<style is:global>
  .pagefind-button {
    background-color: var(--color-accent);
    color: var(--color-background);
    font-weight: 600;
  }

  #pagefind-popover {
    margin: 9em auto;
    border-radius: var(--radius-default);
    background: var(--color-background);
    border: 0.5px solid var(--color-border);
    max-height: calc(100dvh - 12em);
    width: min(calc(100% - 3em), calc(var(--spacing-default) + 3em));
    padding: 1.5em;
    inset: 1.5em;
    overscroll-behavior: none;
    color: var(--color-foreground-subtle);
  }

  .pagefind-ui__form {
    display: flex;
    flex-wrap: wrap;
  }

  .pagefind-ui__search-input {
    background: var(--color-background-subtle);
    flex-grow: 1;
  }
  .pagefind-ui__search-clear {
    margin-left: 0.25em;
  }
  .pagefind-ui__search-clear,
  .pagefind-ui__button {
    background: var(--color-accent);
    color: var(--color-background);
    font-weight: 600;
  }

  .pagefind-ui__drawer {
    width: 100%;
  }

  .pagefind-ui__message {
    margin-top: 1.5em;
    font-size: smaller;
  }

  .pagefind-ui__results {
    padding-bottom: 1.5em;
    border-bottom: 0.5px solid var(--color-border);
    margin-bottom: 1.5em;
  }

  .pagefind-ui__result {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 0.5px solid var(--color-border);
    display: grid;
    gap: 1.5em;
    grid-template-columns: 4.5em auto;
  }

  .pagefind-ui__result-image {
    border-radius: var(--radius-default);
    aspect-ratio: 1;
    width: 100%;
    overflow: hidden;
  }

  .pagefind-ui__result-title {
    font-weight: 600;
    color: var(--color-foreground);

    &:not(.pagefind-ui__result-nested *) {
      font-size: calc(1em * var(--headline-scale));
    }
  }

  .pagefind-ui__result-link {
    color: var(--color-accent) !important;
  }

  .pagefind-ui__result-excerpt {
    font-size: smaller;
  }

  .pagefind-ui__result-nested {
    padding-top: 0.75em;
  }

  .pagefind-ui__button {
    width: 100%;
  }
</style>
