---
import type keystaticConfig from '../../keystatic.config';
import type { EntryWithResolvedLinkedFiles } from '@keystatic/core/reader';
import Entry from './Entry.astro';

interface Props {
  section: EntryWithResolvedLinkedFiles<(typeof keystaticConfig)['singletons']['Site']>['sections'][number];
}

const { section } = Astro.props;
---

<section>
  <h2 class="text-foreground mb-4 font-medium">{section.title}</h2>
  <div class="space-y-8">
    {section.entries.map((entry) => <Entry {entry} />)}
  </div>
</section>
