---
interface Props {
  class?: string;
  title: string;
}
const { class: className, title } = Astro.props;
---

<section class="space-y-8 break-inside-avoid">
  <h2 class:list={['text-foreground not-prose font-headings mb-4 font-medium', className]}>
    {title}
  </h2>
  <slot />
</section>
