---
import { getCollection } from 'astro:content';
import _ from 'lodash';
import type { CollectionKey } from 'astro:content';

interface Props {
  content: CollectionKey;
}

const { content } = Astro.props;
const collection = await getCollection(content, (item) => {
  return !('draft' in item.data && item.data.draft);
});

const { default: Collection } = await import(`./collections/${content}.astro`);
---

<section>
  <h2 class="text-foreground mb-4 font-medium">
    {_.startCase(content)}
  </h2>
  <div class="space-y-8">
    {Collection ? collection.map((entry) => <Collection {entry} />) : <span>⚠️ Component {content} not found</span>}
  </div>
</section>
