---
import { getCollection } from 'astro:content';
import _ from 'lodash';
import type { CollectionKey } from 'astro:content';

interface Props {
  content: CollectionKey;
}

const { content } = Astro.props;
const collection = await getCollection(content, (item) => {
  return !('draft' in item.data && item.data.draft);
});

let Content: any;
try {
  const { default: component } = await import(`./content/${content}.astro`);
  Content = component;
} catch (error) {
  console.error(error);
}
---

<section>
  <h2 class="text-foreground mb-4 font-medium">
    {_.startCase(content)}
  </h2>
  <div class="space-y-8">
    {Content ? collection.map((entry) => <Content {entry} />) : <p>⚠️ Component {content} not found</p>}
  </div>
</section>
