---
import type { DataEntryMap } from 'astro:content';
import { getCollection } from 'astro:content';
import _ from 'lodash';

interface Props {
  content: keyof DataEntryMap;
}

const { content } = Astro.props;
const collection = await getCollection(content);

const { default: Content } = await import(`./content/${content}.astro`);
---

<section>
  <h2 class="text-foreground mb-4">{_.startCase(content)}</h2>
  {collection.map((entry) => <Content {entry} />)}
</section>
