---
const { links } = Astro.props;
---

<div class="not-prosa rounded-default relative grid place-content-center border p-8">
  <slot />
  {
    Object.entries(links).length > 0 && (
      <div class="absolute top-1 right-1 flex gap-1 font-semibold">
        {Object.entries(links).map(([label, path]) => (
          <a
            href={`https://github.com/jairusjoer/jairusjoer.com/blob/main/${path}`}
            target="_blank"
            rel="noopener noreferrer"
            class="rounded-default hover:bg-accent hover:text-background bg-background-subtle px-1.5 motion-safe:transition-colors"
          >
            <small>{label}</small>
          </a>
        ))}
      </div>
    )
  }
</div>
