---
import Button from './Button.astro';

const { links } = Astro.props;
---

<div class="not-prosa rounded-default relative grid place-content-center border p-8">
  <slot />
  {
    Object.entries(links).length > 0 && (
      <small class="absolute top-1 right-1 flex gap-1">
        {Object.entries(links).map(([label, path]) => (
          <Button
            href={`https://github.com/jairusjoer/jairusjoer.com/blob/main/${path}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            {label}
          </Button>
        ))}
      </small>
    )
  }
</div>
