---
import type { SiteConfigLink } from '../config';
import Button from './Button.astro';

export interface Props {
  links?: Array<SiteConfigLink>;
}

const { links } = Astro.props;

const active = (path: string) => {
  if (path === '/') {
    return Astro.url.pathname === path;
  } else {
    return Astro.url.pathname.startsWith(path);
  }
};
---

{
  links?.length && (
    <nav class="print-hidden">
      <ul class="flex flex-wrap items-center gap-1 font-semibold">
        <slot />
        {links.map((link) => (
          <li>
            <Button
              class:list={[active(link.href) && 'bg-accent! text-background']}
              href={link.href}
            >
              {link.title}
            </Button>
          </li>
        ))}
      </ul>
    </nav>
  )
}
