---
import type { SiteConfigLink } from '../types';

export interface Props {
  links?: Array<SiteConfigLink>;
}

const { links } = Astro.props;

const active = (path: string) => {
  if (path === '/') {
    return Astro.url.pathname === path;
  } else {
    return Astro.url.pathname.startsWith(path);
  }
};
---

{
  links && (
    <nav class="site-navigation">
      <ul class="site-navigation-list">
        {links.map((link) => (
          <li>
            <a
              class:list={['site-navigation-anchor transition-press', { active: active(link.href) }]}
              href={link.href}
            >
              {link.title}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}

<style>
  .site-navigation {
    @media print {
      display: none;
    }
  }

  .site-navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
    font-weight: 600;
  }

  .site-navigation-anchor {
    display: block;
    border-radius: var(--radius-default);
    background-color: var(--color-background-subtle);
    padding-inline: 0.5em;

    &.active {
      background-color: var(--color-accent) !important;
      color: var(--color-background) !important;
    }
  }
</style>
