---
import type { SiteConfigLink } from '../types';

export interface Props {
  links?: Array<SiteConfigLink>;
}

const { links } = Astro.props;

const active = (path: string) => {
  if (path === '/') {
    return Astro.url.pathname === path;
  } else {
    return Astro.url.pathname.startsWith(path);
  }
};
---

{
  links?.length && (
    <nav class="print-hidden">
      <ul class="flex flex-wrap items-center gap-1 font-medium">
        <slot />
        {links.map((link) => (
          <li>
            <a
              class:list={[
                'rounded-default bg-background-subtle hover:bg-accent hover:text-background block px-1.5 transition-colors',
                active(link.href) && 'bg-accent! text-background',
              ]}
              href={link.href}
            >
              {link.title}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
