---
import { Image } from 'astro:assets';
import { site } from '../config';
import SiteNavigation from './SiteNavigation.astro';
---

<header class="flex flex-col gap-6">
  <a
    class="relative flex items-start gap-3"
    href="/"
  >
    {
      site?.image && (
        <Image
          class="rounded-default size-12"
          src={site.image}
          alt=""
          width={144}
          height={144}
        />
      )
    }
    <div>
      <p class="text-foreground font-semibold">{site.title}</p>
      <p>{site.description}</p>
    </div>
  </a>

  {site?.navigation?.length && <SiteNavigation links={site.navigation} />}
</header>
