---
import type { SiteConfigLink } from '../types';

export interface Props {
  links?: Array<SiteConfigLink>;
}

const { links } = Astro.props;

const active = (path: string) => {
  if (path === '/') {
    return Astro.url.pathname === path;
  } else {
    return Astro.url.pathname.startsWith(path);
  }
};
---

{
  links && (
    <nav class="print-hidden">
      <ul class="flex flex-wrap items-center gap-1">
        <slot />
        {links.map((link) => (
          <li>
            <a
              class:list={[
                'relative rounded-default bg-background-subtle transition-press block px-1.5 font-medium',
                active(link.href) && 'text-accent rounded-b-none',
              ]}
              href={link.href}
            >
              {link.title}
              {active(link.href) && (
                <hr class="absolute inset-x-0 bottom-0 border-accent [view-transition-name:site-navigation-active]" />
              )}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
