---

---

<section class="bg-background my-auto grid grow rounded-lg p-4">
  <div class="py-">
    <p class="text-foreground font-medium">Welcome to OpenCV</p>
    <p class="mb-4">It's pretty empty in here. To change that, click on the button below.</p>

    <a
      class="bg-foreground text-background inline-block rounded-lg px-4 py-2 leading-4 font-medium"
      href="/keystatic"
      target="_blank"
    >
      Open Keystatic
    </a>
  </div>

  <hr class="my-4 border-dashed" />

  <div>
    <small class="flex gap-2">
      <span>Documentation:</span>
      <a
        class="text-foreground fonr-medium"
        href="https://docs.astro.build/en/getting-started/"
        target="_blank"
      >
        Astro
      </a>
      <a
        class="text-foreground fonr-medium"
        href="https://keystatic.com/docs/introduction"
        target="_blank"
      >
        Keystatic
      </a>
    </small>
  </div>
</section>
