@layer prosa {
  :root {
    --headline-scale: pow(1.5, 0.2);
  }
}

@utility prosa {
  > * + * {
    margin-top: 1.5rem;

    &:is(astro-island) > * {
      margin-top: 1.5rem;
    }
  }

  hr {
    margin-block: 3rem;
  }

  @scope (&) to (.not-prosa) {
    a,
    abbr {
      text-decoration-color: color-mix(var(--color-accent), transparent);
      text-decoration-thickness: 1px;
      text-underline-offset: 0.1875rem;
    }

    a {
      color: var(--color-accent);
      text-decoration-line: underline;

      &[data-footnote-ref] {
        font-family: var(--font-mono);
        padding-inline: 0.1875rem;
      }

      &[data-footnote-backref] {
        font-family: var(--font-mono);
      }
    }

    blockquote {
      font-style: italic;
      border-left: 1px solid var(--color-accent);
      padding-left: calc(1.5rem - 1px);
    }

    code {
      font-family: var(--font-mono);
      font-size: smaller;
    }

    code:not(pre > code) {
      border: 1px solid var(--color-border);
      background: var(--color-background-subtle);
      border-radius: 0.375rem;
      padding: 0.1875rem 0.375rem;
    }

    details {
      position: relative;
      padding-left: 1.5rem;

      &[open] summary {
        margin-bottom: 0.75rem;
      }

      &[open] summary::before {
        rotate: 0deg;
      }

      > * + * {
        margin-top: 0.75rem;
      }

      summary {
        cursor: pointer;
        display: block;

        &::before {
          color: var(--color-accent);
          content: '▼';
          width: 1.5rem;
          text-align: center;
          left: 0;
          line-height: 1.5rem;
          font-size: smaller;
          position: absolute;
          rotate: -90deg;
        }
      }
    }

    figcaption {
      margin-top: 0.75rem;
      font-size: smaller;
    }

    .footnotes {
      margin-top: 6rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-foreground);
      font-weight: 600;
      line-height: 1;
      text-wrap: balance;

      & + * {
        margin-top: 0.75rem;
      }
    }

    h1 {
      font-size: calc(1rem * pow(var(--headline-scale), 5));
    }

    h2 {
      font-size: calc(1rem * pow(var(--headline-scale), 4));
    }

    h3 {
      font-size: calc(1rem * pow(var(--headline-scale), 3));
    }

    h4 {
      font-size: calc(1rem * pow(var(--headline-scale), 2));
    }

    h5 {
      font-size: calc(1rem * pow(var(--headline-scale), 1));
    }

    h6 {
      font-size: calc(1rem * pow(var(--headline-scale), 0));
    }

    img,
    picture,
    video {
      display: block;
      border-radius: 0.75rem;
      border: 1px solid var(--color-border);
    }

    p:not(:only-child) {
      img,
      picture,
      video {
        display: inline-block;
        vertical-align: middle;
      }
    }

    ol,
    ul {
      list-style-type: revert;
      list-style-position: outside;
      padding-left: 1.5rem;
    }

    li {
      position: relative;
      margin-top: 0.75rem;

      &::marker {
        color: var(--color-accent);
      }

      &:target a:first-child {
        text-decoration: underline;
      }

      > * + * {
        margin-top: 0.75rem;
      }

      li {
        font-size: smaller;
        margin-top: 0.375rem;
      }
    }

    li input[type='checkbox'] {
      height: 1rem;
      left: -1.25rem;
      position: absolute;
      top: calc(1.5em / 2 - 0.5rem);
      width: 1rem;
      line-height: calc(1rem - 2px);
    }

    pre {
      border: 1px solid var(--color-border);
      overscroll-behavior: none;
      border-radius: 0.75rem;
      padding: 0.75rem;

      @media print {
        white-space: pre-wrap;
      }
    }

    strong {
      color: var(--color-foreground);
      font-weight: 600;
    }

    table {
      border-radius: 0.75rem;
      border: 1px solid var(--color-border);
      table-layout: fixed;
      font-variant-numeric: tabular-nums;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      overflow: hidden;
    }

    th,
    td {
      padding: 0.75rem;
      text-align: left;
    }

    th:not(:first-child),
    td:not(:first-child) {
      border-left: 1px solid var(--color-border);
    }

    th {
      background-color: var(--color-background-subtle);
      color: var(--color-foreground);
    }

    td {
      border-top: 1px solid var(--color-border);
    }

    time {
      font-variant-numeric: tabular-nums;
    }
  }
}
