---
import '../styles/tailwind.css';
import Meta from '../components/astro/meta.astro';
import type { Metadata } from '../types';

interface Props {
  metadata?: Metadata;
}

const { metadata } = Astro.props;
---

<html
  lang="en"
  class="bg-background antialiased print:bg-transparent print:scheme-light"
>
  <head>
    <script is:inline>
      const root = document.documentElement;

      const theme = localStorage.getItem('theme') || 'Read';
      root.classList.add(`theme-${theme.toLowerCase()}`);

      const mode = localStorage.getItem('mode') || 'System';
      root.classList.add(`mode-${mode.toLowerCase()}`);
    </script>
    <Meta {metadata} />
  </head>
  <body class="text-foreground-subtle relative overflow-x-hidden text-sm leading-5">
    <div
      id="root"
      class="font-body flex min-h-screen flex-col px-5"
    >
      <slot />
    </div>
  </body>
</html>
