---
import '../styles/tailwind.css';
import Meta from '../components/Meta.astro';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
import { ClientRouter } from 'astro:transitions';
---

<script>
  import { useExternalLinks } from '../composables/useExternalLinks';

  useExternalLinks();
</script>

<html lang="en" class="bg-background-subtle font-body antialiased print:scheme-light">
  <head>
    <Meta />
    <ClientRouter />
  </head>
  <body class="text-foreground-subtle px-8 py-16 text-sm leading-6 transition-all md:pl-16">
    <div class="max-w-xl">
      <Header />
      <Navigation />
      <slot />
    </div>
  </body>
</html>
