---
import '../styles/tailwind.css';
import Meta from '../components/Meta.astro';
import type { Metadata } from '../types';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
  metadata?: Metadata;
}

const { metadata } = Astro.props;
---

<script>
  import { useExternalizedLinks } from '../composables/useExternalizedLinks';
  useExternalizedLinks();
</script>

<html
  lang="en"
  class="bg-background antialiased print:scheme-light"
>
  <head>
    <Meta {metadata} />
  </head>
  <body class="text-foreground-subtle flex min-h-screen flex-col px-4 py-16 text-sm leading-6 print:p-0">
    <div
      id="root"
      class="font-body mx-auto flex w-full max-w-xl flex-col"
    >
      <Header
        image="/favicon.png"
        title="Jairus Joer"
        subtitle="Full Stack Developer & Designer in Hanover, Germany, He/him"
      />

      <Navigation
        pages={{
          About: '/',
          Blog: '/blog/',
          Links: '/links/',
          Experiments: '/experiments/',
        }}
      />
      <slot />
      <Footer
        pages={{
          Imprint: '/imprint/',
        }}
      />
    </div>
  </body>
</html>
