---
import '@styles/tailwind.css';
import SiteMeta from '@components/SiteMeta.astro';
import type { Metadata as MetadataType } from '@components/SiteMeta.astro';
import { site } from '../config';
import SiteHeader from '@components/SiteHeader.astro';
import SiteFooter from '@components/SiteFooter.astro';

export interface Props {
  metadata?: Partial<MetadataType>;
}

const { metadata } = Astro.props;
---

<html
  class="bg-background text-foreground-subtle print:bg-transparent print:scheme-light"
  lang={site.locale.slice(0, 2)}
>
  <head>
    <SiteMeta metadata={{ ...site, ...metadata }} />
    <slot name="head" />
  </head>
  <body>
    <div
      id="root"
      class="text-default font-default isolate px-[1.5em]"
    >
      <div
        class="max-w-default mx-auto flex min-h-screen w-full flex-col items-start py-[6em] print:ml-0 print:max-w-none"
      >
        <SiteHeader />
        <slot />
        <SiteFooter links={site.footer} />
      </div>
    </div>
  </body>
</html>
