---
import '@styles/global.css';
import SiteMeta from '@components/SiteMeta.astro';
import type { Metadata as MetadataType } from '@components/SiteMeta.astro';
import { site } from '../config';
import SiteHeader from '@components/SiteHeader.astro';
import SiteFooter from '@components/SiteFooter.astro';

export interface Props {
  metadata?: Partial<MetadataType>;
}

const { metadata } = Astro.props;
---

<html lang={site.locale.slice(0, 2)}>
  <head>
    <SiteMeta metadata={{ ...site, ...metadata }} />
    <slot name="head" />
  </head>
  <body>
    <div id="root">
      <div class="page-layout-container">
        <SiteHeader />
        <slot />
        <SiteFooter links={site.footer} />
      </div>
    </div>
  </body>
</html>

<style>
  html {
    background-color: var(--color-background);
    color: var(--color-foreground-subtle);

    @media print {
      background-color: transparent;
      color-scheme: light;
    }
  }

  #root {
    font-size: var(--text-default);
    font-family: var(--font-default);
    padding-inline: 1.5em;
  }

  .page-layout-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: var(--spacing-default);
    min-height: 100dvh;
    padding-block: 6em;
    width: 100%;

    @media print {
      margin-left: 0;
      max-width: none;
    }
  }
</style>
