---
import '@styles/global.css';
import SiteFooter from '@components/SiteFooter.astro';
import SiteHeader from '@components/SiteHeader.astro';
import SiteMeta from '@components/SiteMeta.astro';
import type { Metadata } from '@components/SiteMeta.astro';
import { site } from '../config';

export interface Props {
  metadata?: Metadata;
}

const { metadata } = Astro.props;
---

<html
  lang={site.locale.slice(0, 2)}
  class="bg-background text-foreground-subtle text-pretty antialiased scheme-light-dark print:bg-transparent print:scheme-light"
>
  <head>
    <SiteMeta {metadata} />
    <slot name="head" />
  </head>
  <body>
    <div
      id="root"
      class="text-default font-default px-6 py-24"
    >
      <div class="max-w-default mx-auto flex min-h-dvh w-full flex-col items-start print:ml-0 print:max-w-none">
        <SiteHeader />
        <slot />
        <SiteFooter links={site.footer} />
      </div>
    </div>
  </body>
</html>
